In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plots
%matplotlib inline

In [103]:
# read data from csv file
# drop the patien id column

patient_data =  pd.read_csv('../data/breast-cancer-wisconsin.csv')

patient_data.drop( ['id'], axis=1, inplace=True )
patient_data = patient_data[~patient_data["Bare Nuclei"].str.contains('\?')]

patient_data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2
10,1,1,1,1,1,1,3,1,1,2
11,2,1,1,1,2,1,2,1,1,2
12,5,3,3,3,2,3,4,4,1,4
13,1,1,1,1,2,3,3,1,1,2
14,8,7,5,10,7,9,5,5,4,4
15,7,4,6,4,6,1,4,3,1,4
16,4,1,1,1,2,1,2,1,1,2
17,4,1,1,1,2,1,3,1,1,2
18,10,7,7,6,4,10,4,1,2,4
19,6,1,1,1,2,1,3,1,1,2
20,7,3,2,10,5,10,5,4,4,4
21,10,5,5,3,6,7,7,10,1,4
22,3,1,1,1,2,1,2,1,1,2
24,1,1,1,1,2,1,3,1,1,2
25,5,2,3,4,2,7,3,6,1,4
26,3,2,1,1,1,1,2,1,1,2
27,5,1,1,1,2,1,2,1,1,2
28,2,1,1,1,2,1,2,1,1,2
29,1,1,3,1,2,1,1,1,1,2
30,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,4
670,3,10,7,8,5,8,7,4,1,4
671,3,2,1,2,2,1,3,1,1,2
672,2,1,1,1,2,1,3,1,1,2
673,5,3,2,1,3,1,1,1,1,2
674,1,1,1,1,2,1,2,1,1,2
675,4,1,4,1,2,1,1,1,1,2
676,1,1,2,1,2,1,2,1,1,2
677,5,1,1,1,2,1,1,1,1,2
678,1,1,1,1,2,1,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,10,10,10,10,5,10,10,10,7,4
681,5,10,10,10,4,10,5,6,3,4
682,5,1,1,1,2,1,3,2,1,2
683,1,1,1,1,2,1,1,1,1,2
684,1,1,1,1,2,1,1,1,1,2
685,1,1,1,1,2,1,1,1,1,2
686,1,1,1,1,2,1,1,1,1,2
687,3,1,1,1,2,1,2,3,1,2
688,4,1,1,1,2,1,1,1,1,2
689,1,1,1,1,2,1,1,1,8,2
690,1,1,1,3,2,1,1,1,1,2
691,5,10,10,5,4,5,4,4,1,4
692,3,1,1,1,2,1,1,1,1,2
693,3,1,1,1,2,1,2,1,2,2
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4

In [104]:
# class value: 2 is benign, 4 is malignant, change to: 0 is benign (no cancer), 1 is malignant (cancer)

# change class 2 -> 0, benign, no cancer
mask = patient_data.Class == 2
column_name = 'Class'
patient_data.loc[mask, column_name] = 0

# change class 4 -> 1, malignant, cancer
mask = patient_data.Class == 4
column_name = 'Class'
patient_data.loc[mask, column_name] = 1

# change dtype column ['Bare Nuclei'] from string to numeric
patient_data['Bare Nuclei'] = pd.to_numeric(patient_data['Bare Nuclei'])

# print data frame
patient_data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
5,8,10,10,8,7,10,9,7,1,1
6,1,1,1,1,2,10,3,1,1,0
7,2,1,2,1,2,1,3,1,1,0
8,2,1,1,1,2,1,1,1,5,0
9,4,2,1,1,2,1,2,1,1,0
10,1,1,1,1,1,1,3,1,1,0
11,2,1,1,1,2,1,2,1,1,0
12,5,3,3,3,2,3,4,4,1,1
13,1,1,1,1,2,3,3,1,1,0
14,8,7,5,10,7,9,5,5,4,1
15,7,4,6,4,6,1,4,3,1,1
16,4,1,1,1,2,1,2,1,1,0
17,4,1,1,1,2,1,3,1,1,0
18,10,7,7,6,4,10,4,1,2,1
19,6,1,1,1,2,1,3,1,1,0
20,7,3,2,10,5,10,5,4,4,1
21,10,5,5,3,6,7,7,10,1,1
22,3,1,1,1,2,1,2,1,1,0
24,1,1,1,1,2,1,3,1,1,0
25,5,2,3,4,2,7,3,6,1,1
26,3,2,1,1,1,1,2,1,1,0
27,5,1,1,1,2,1,2,1,1,0
28,2,1,1,1,2,1,2,1,1,0
29,1,1,3,1,2,1,1,1,1,0
30,3,1,1,1,1,1,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,1
670,3,10,7,8,5,8,7,4,1,1
671,3,2,1,2,2,1,3,1,1,0
672,2,1,1,1,2,1,3,1,1,0
673,5,3,2,1,3,1,1,1,1,0
674,1,1,1,1,2,1,2,1,1,0
675,4,1,4,1,2,1,1,1,1,0
676,1,1,2,1,2,1,2,1,1,0
677,5,1,1,1,2,1,1,1,1,0
678,1,1,1,1,2,1,1,1,1,0
679,2,1,1,1,2,1,1,1,1,0
680,10,10,10,10,5,10,10,10,7,1
681,5,10,10,10,4,10,5,6,3,1
682,5,1,1,1,2,1,3,2,1,0
683,1,1,1,1,2,1,1,1,1,0
684,1,1,1,1,2,1,1,1,1,0
685,1,1,1,1,2,1,1,1,1,0
686,1,1,1,1,2,1,1,1,1,0
687,3,1,1,1,2,1,2,3,1,0
688,4,1,1,1,2,1,1,1,1,0
689,1,1,1,1,2,1,1,1,8,0
690,1,1,1,3,2,1,1,1,1,0
691,5,10,10,5,4,5,4,4,1,1
692,3,1,1,1,2,1,1,1,1,0
693,3,1,1,1,2,1,2,1,2,0
694,3,1,1,1,3,2,1,1,1,0
695,2,1,1,1,2,1,1,1,1,0
696,5,10,10,3,7,3,8,10,2,1
697,4,8,6,4,3,4,10,6,1,1
698,4,8,8,5,4,5,10,4,1,1

In [49]:
def distance(point1, point2):
    """Return Euclidien distance between point1 and point2,
    each point is an array of coordinates"""
    
    return np.sqrt(np.sum((point1 - point2)**2))

In [143]:
# test distance
p1 = np.array([1,2])
p2 = np.array([0,10])

p1 = patient_data.take([0])
p2 = patient_data.iloc[[1]]

p1 = p1.values
p2 = p2.values
print(p1)

type(p1)
distance(p1, p2)

[[5 1 1 1 2 1 3 1 1 0]]

11.874342087037917

In [142]:
del attributes

NameError: name 'attributes' is not defined

In [191]:
p1

array([5, 1, 1, 1, 2, 1, 3, 1, 1, 0])

In [311]:
#del attributes

#attributes

patient_data = patient_data.drop('Distance', axis=1)
patient_data

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
5,8,10,10,8,7,10,9,7,1,1
6,1,1,1,1,2,10,3,1,1,0
7,2,1,2,1,2,1,3,1,1,0
8,2,1,1,1,2,1,1,1,5,0
9,4,2,1,1,2,1,2,1,1,0
10,1,1,1,1,1,1,3,1,1,0
11,2,1,1,1,2,1,2,1,1,0
12,5,3,3,3,2,3,4,4,1,1
13,1,1,1,1,2,3,3,1,1,0
14,8,7,5,10,7,9,5,5,4,1
15,7,4,6,4,6,1,4,3,1,1
16,4,1,1,1,2,1,2,1,1,0
17,4,1,1,1,2,1,3,1,1,0
18,10,7,7,6,4,10,4,1,2,1
19,6,1,1,1,2,1,3,1,1,0
20,7,3,2,10,5,10,5,4,4,1
21,10,5,5,3,6,7,7,10,1,1
22,3,1,1,1,2,1,2,1,1,0
24,1,1,1,1,2,1,3,1,1,0
25,5,2,3,4,2,7,3,6,1,1
26,3,2,1,1,1,1,2,1,1,0
27,5,1,1,1,2,1,2,1,1,0
28,2,1,1,1,2,1,2,1,1,0
29,1,1,3,1,2,1,1,1,1,0
30,3,1,1,1,1,1,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,1
670,3,10,7,8,5,8,7,4,1,1
671,3,2,1,2,2,1,3,1,1,0
672,2,1,1,1,2,1,3,1,1,0
673,5,3,2,1,3,1,1,1,1,0
674,1,1,1,1,2,1,2,1,1,0
675,4,1,4,1,2,1,1,1,1,0
676,1,1,2,1,2,1,2,1,1,0
677,5,1,1,1,2,1,1,1,1,0
678,1,1,1,1,2,1,1,1,1,0
679,2,1,1,1,2,1,1,1,1,0
680,10,10,10,10,5,10,10,10,7,1
681,5,10,10,10,4,10,5,6,3,1
682,5,1,1,1,2,1,3,2,1,0
683,1,1,1,1,2,1,1,1,1,0
684,1,1,1,1,2,1,1,1,1,0
685,1,1,1,1,2,1,1,1,1,0
686,1,1,1,1,2,1,1,1,1,0
687,3,1,1,1,2,1,2,3,1,0
688,4,1,1,1,2,1,1,1,1,0
689,1,1,1,1,2,1,1,1,8,0
690,1,1,1,3,2,1,1,1,1,0
691,5,10,10,5,4,5,4,4,1,1
692,3,1,1,1,2,1,1,1,1,0
693,3,1,1,1,2,1,2,1,2,0
694,3,1,1,1,3,2,1,1,1,0
695,2,1,1,1,2,1,1,1,1,0
696,5,10,10,3,7,3,8,10,2,1
697,4,8,6,4,3,4,10,6,1,1
698,4,8,8,5,4,5,10,4,1,1

In [197]:
#all_distances(patient_data, p1)

#attributes = patient_data.drop('Class', axis=1)

#print(attributes[0:5])
#print(attributes['Bare Nuclei'].dtype)
#print(type(attributes))



#p1 = attributes.take([0]).values
#p2 = attributes.take([1]).values
#print(distance(p1, p2))

attributes = patient_data.drop('Class', axis=1)
print(attributes.take([0]))

#for index, row in attributes.iterrows():
#    print(distance(row.values, p1))
    

#all_distances( patient_data, p1 )

   Clump Thickness  Uniformity of Cell Size  Uniformity of Cell Shape  \
0                5                        1                         1

   Marginal Adhesion  Single Epithelial Cell Size  Bare Nuclei  \
0                  1                            2            1

   Bland Chromatin  Normal Nucleoli  Mitoses  Distance
0                3                1        1       0.0

In [205]:
p1 = np.array([5, 1, 1, 1, 2, 1, 3, 1, 1, 0])

In [206]:
all_distances( patient_data, p1 )

[0.0,
 11.874342087037917,
 2.23606797749979,
 12.041594578792296,
 2.23606797749979,
 19.949937343260004,
 9.848857801796104,
 3.1622776601683795,
 5.385164807134504,
 1.7320508075688772,
 4.123105625617661,
 3.1622776601683795,
 5.0990195135927845,
 4.47213595499958,
 16.1245154965971,
 8.246211251235321,
 1.4142135623730951,
 1.0,
 14.45683229480096,
 1.0,
 14.212670403551895,
 14.491376746189438,
 2.23606797749979,
 4.0,
 8.660254037844387,
 2.6457513110645907,
 1.0,
 3.1622776601683795,
 4.898979485566356,
 2.449489742783178,
 3.0,
 13.490737563232042,
 3.1622776601683795,
 2.449489742783178,
 3.1622776601683795,
 18.466185312619388,
 4.358898943540674,
 13.856406460551018,
 10.816653826391969,
 8.306623862918075,
 17.46424919657298,
 11.40175425099138,
 18.384776310850235,
 4.242640687119285,
 14.247806848775006,
 4.123105625617661,
 2.23606797749979,
 13.892443989449804,
 10.099504938362077,
 5.916079783099616,
 12.449899597988733,
 15.811388300841896,
 13.527749258468683,
 11.135528725660043,
 16.15549442140351,
 7.0710678118654755,
 10.295630140987,
 7.3484692283495345,
 11.090536506409418,
 4.242640687119285,
 17.175564037317667,
 9.38083151964686,
 4.123105625617661,
 11.090536506409418,
 1.0,
 13.96424004376894,
 16.492422502470642,
 4.123105625617661,
 2.23606797749979,
 18.520259177452136,
 6.48074069840786,
 16.401219466856727,
 8.602325267042627,
 4.47213595499958,
 5.0990195135927845,
 2.449489742783178,
 2.8284271247461903,
 3.3166247903554,
 5.291502622129181,
 1.7320508075688772,
 1.0,
 4.58257569495584,
 18.384776310850235,
 18.49324200890693,
 10.488088481701515,
 15.198684153570664,
 1.0,
 3.4641016151377544,
 4.0,
 3.0,
 1.0,
 4.123105625617661,
 3.0,
 4.0,
 3.7416573867739413,
 0.0,
 18.466185312619388,
 17.46424919657298,
 14.38749456993816,
 8.0,
 1.4142135623730951,
 7.0710678118654755,
 21.330729007701542,
 8.246211251235321,
 17.832554500127006,
 18.110770276274835,
 4.58257569495584,
 13.0,
 5.5677643628300215,
 10.954451150103322,
 14.798648586948742,
 18.138357147217054,
 3.605551275463989,
 6.0,
 4.358898943540674,
 16.73320053068151,
 5.291502622129181,
 2.449489742783178,
 4.242640687119285,
 1.7320508075688772,
 18.57417562100671,
 12.041594578792296,
 16.15549442140351,
 4.123105625617661,
 13.892443989449804,
 2.0,
 12.569805089976535,
 9.16515138991168,
 2.23606797749979,
 3.0,
 18.894443627691185,
 2.449489742783178,
 2.449489742783178,
 2.23606797749979,
 1.4142135623730951,
 2.8284271247461903,
 1.7320508075688772,
 2.8284271247461903,
 3.605551275463989,
 9.273618495495704,
 6.0,
 3.1622776601683795,
 9.797958971132712,
 4.358898943540674,
 9.848857801796104,
 18.681541692269406,
 4.123105625617661,
 11.313708498984761,
 17.4928556845359,
 3.0,
 4.47213595499958,
 11.789826122551595,
 4.358898943540674,
 3.0,
 19.595917942265423,
 15.394804318340652,
 1.4142135623730951,
 2.0,
 7.874007874011811,
 1.7320508075688772,
 17.663521732655695,
 18.24828759089466,
 2.0,
 4.69041575982343,
 2.8284271247461903,
 4.0,
 4.123105625617661,
 22.956480566497994,
 12.24744871391589,
 17.4928556845359,
 3.0,
 17.05872210923198,
 1.0,
 10.44030650891055,
 4.123105625617661,
 4.47213595499958,
 1.0,
 17.378147196982766,
 12.96148139681572,
 3.1622776601683795,
 16.15549442140351,
 19.4164878389476,
 17.72004514666935,
 4.58257569495584,
 19.949937343260004,
 20.322401432901575,
 1.0,
 4.0,
 2.0,
 1.0,
 12.206555615733702,
 3.0,
 4.47213595499958,
 2.23606797749979,
 16.217274740226856,
 17.378147196982766,
 4.0,
 0.0,
 4.0,
 20.8806130178211,
 15.198684153570664,
 4.123105625617661,
 4.123105625617661,
 1.0,
 21.748563170931547,
 17.11724276862369,
 4.0,
 21.908902300206645,
 20.591260281974,
 15.524174696260024,
 4.123105625617661,
 4.0,
 16.911534525287763,
 2.23606797749979,
 4.123105625617661,
 18.027756377319946,
 4.795831523312719,
 11.135528725660043,
 15.652475842498529,
 4.123105625617661,
 16.1245154965971,
 14.89966442575134,
 4.123105625617661,
 21.283796653792763,
 11.661903789690601,
 16.0312195418814,
 7.280109889280518,
 12.529964086141668,
 5.916079783099616,
 19.28730152198591,
 15.427248620541512,
 21.494185260204677,
 11.40175425099138,
 3.7416573867739413,
 3.0,
 3.0,
 6.0,
 4.0,
 1.4142135623730951,
 19.364916731037084,
 9.746794344808963,
 5.0990195135927845,
 4.69041575982343,
 14.730919862656235,
 11.269427669584644,
 17.46424919657298,
 17.175564037317667,
 12.68857754044952,
 2.8284271247461903,
 2.23606797749979,
 2.0,
 11.789826122551595,
 16.15549442140351,
 20.54263858417414,
 16.911534525287763,
 15.524174696260024,
 15.427248620541512,
 3.1622776601683795,
 14.933184523068078,
 11.090536506409418,
 15.620499351813308,
 4.0,
 14.177446878757825,
 0.0,
 11.090536506409418,
 5.291502622129181,
 2.23606797749979,
 2.23606797749979,
 4.123105625617661,
 4.0,
 13.076696830622021,
 2.0,
 3.1622776601683795,
 14.966629547095765,
 12.165525060596439,
 15.524174696260024,
 21.400934559032695,
 24.0,
 2.449489742783178,
 10.488088481701515,
 16.941074346097416,
 4.47213595499958,
 4.0,
 12.409673645990857,
 14.933184523068078,
 8.602325267042627,
 4.795831523312719,
 13.416407864998739,
 15.0,
 4.0,
 23.043437243605826,
 4.0,
 13.114877048604,
 16.34013463836819,
 4.0,
 4.0,
 14.317821063276353,
 4.898979485566356,
 3.3166247903554,
 4.47213595499958,
 14.2828568570857,
 4.47213595499958,
 4.242640687119285,
 11.313708498984761,
 17.0,
 5.0,
 8.94427190999916,
 13.19090595827292,
 2.0,
 14.035668847618199,
 4.0,
 3.3166247903554,
 10.908712114635714,
 4.123105625617661,
 14.177446878757825,
 13.19090595827292,
 11.357816691600547,
 1.0,
 2.23606797749979,
 12.206555615733702,
 12.884098726725126,
 4.47213595499958,
 13.2664991614216,
 4.0,
 4.242640687119285,
 11.958260743101398,
 12.449899597988733,
 4.0,
 3.605551275463989,
 4.47213595499958,
 16.97056274847714,
 4.47213595499958,
 3.4641016151377544,
 5.0,
 10.770329614269007,
 10.63014581273465,
 2.8284271247461903,
 3.0,
 9.38083151964686,
 19.672315572906,
 4.123105625617661,
 2.0,
 4.58257569495584,
 20.518284528683193,
 15.524174696260024,
 10.535653752852738,
 24.0,
 16.73320053068151,
 3.872983346207417,
 5.0,
 3.0,
 3.1622776601683795,
 22.22611077089287,
 19.467922333931785,
 4.898979485566356,
 4.69041575982343,
 2.8284271247461903,
 4.898979485566356,
 1.7320508075688772,
 1.4142135623730951,
 2.449489742783178,
 4.47213595499958,
 4.123105625617661,
 4.242640687119285,
 4.0,
 4.123105625617661,
 4.47213595499958,
 15.427248620541512,
 2.8284271247461903,
 3.605551275463989,
 3.605551275463989,
 4.47213595499958,
 12.449899597988733,
 3.1622776601683795,
 3.3166247903554,
 2.0,
 4.242640687119285,
 16.76305461424021,
 2.23606797749979,
 4.58257569495584,
 4.69041575982343,
 2.23606797749979,
 2.0,
 2.23606797749979,
 2.6457513110645907,
 5.0,
 18.411952639521967,
 2.8284271247461903,
 3.0,
 4.123105625617661,
 5.0990195135927845,
 4.123105625617661,
 2.0,
 4.123105625617661,
 4.0,
 2.449489742783178,
 4.123105625617661,
 17.26267650163207,
 1.0,
 12.922847983320086,
 7.416198487095663,
 16.492422502470642,
 4.123105625617661,
 2.449489742783178,
 5.0990195135927845,
 3.7416573867739413,
 19.849433241279208,
 3.605551275463989,
 2.23606797749979,
 2.8284271247461903,
 23.108440016582687,
 5.744562646538029,
 13.601470508735444,
 4.123105625617661,
 3.1622776601683795,
 4.69041575982343,
 3.0,
 1.4142135623730951,
 3.7416573867739413,
 13.30413469565007,
 15.524174696260024,
 15.905973720586866,
 2.23606797749979,
 3.605551275463989,
 2.0,
 15.905973720586866,
 4.898979485566356,
 5.291502622129181,
 4.58257569495584,
 5.196152422706632,
 3.605551275463989,
 4.47213595499958,
 2.0,
 4.58257569495584,
 18.76166303929372,
 2.6457513110645907,
 2.0,
 3.4641016151377544,
 16.24807680927192,
 4.242640687119285,
 7.54983443527075,
 15.968719422671311,
 17.233687939614086,
 2.23606797749979,
 2.8284271247461903,
 2.8284271247461903,
 4.898979485566356,
 3.0,
 2.449489742783178,
 2.23606797749979,
 17.320508075688775,
 15.264337522473747,
 13.92838827718412,
 2.23606797749979,
 4.242640687119285,
 2.449489742783178,
 3.0,
 2.449489742783178,
 2.23606797749979,
 2.0,
 2.8284271247461903,
 2.449489742783178,
 2.23606797749979,
 2.23606797749979,
 16.852299546352718,
 2.23606797749979,
 4.242640687119285,
 23.45207879911715,
 17.804493814764857,
 2.23606797749979,
 5.385164807134504,
 2.449489742783178,
 20.149441679609886,
 11.532562594670797,
 4.123105625617661,
 4.47213595499958,
 14.832396974191326,
 1.7320508075688772,
 19.131126469708992,
 10.14889156509222,
 2.449489742783178,
 4.58257569495584,
 2.449489742783178,
 1.4142135623730951,
 1.4142135623730951,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 1.0,
 4.47213595499958,
 3.4641016151377544,
 19.467922333931785,
 5.385164807134504,
 2.0,
 3.605551275463989,
 4.47213595499958,
 1.0,
 2.0,
 2.449489742783178,
 18.2208671582886,
 18.05547008526779,
 4.58257569495584,
 4.242640687119285,
 3.1622776601683795,
 14.52583904633395,
 4.58257569495584,
 2.449489742783178,
 9.797958971132712,
 14.798648586948742,
 2.23606797749979,
 3.0,
 2.23606797749979,
 1.0,
 3.1622776601683795,
 1.7320508075688772,
 13.564659966250536,
 2.0,
 4.123105625617661,
 2.23606797749979,
 3.1622776601683795,
 4.58257569495584,
 0.0,
 1.0,
 1.4142135623730951,
 1.4142135623730951,
 1.4142135623730951,
 2.8284271247461903,
 2.8284271247461903,
 1.4142135623730951,
 3.872983346207417,
 1.0,
 20.639767440550294,
 3.7416573867739413,
 3.0,
 13.379088160259652,
 2.23606797749979,
 4.0,
 3.0,
 5.385164807134504,
 2.8284271247461903,
 7.416198487095663,
 2.23606797749979,
 2.8284271247461903,
 3.1622776601683795,
 1.0,
 0.0,
 0.0,
 4.0,
 2.23606797749979,
 1.4142135623730951,
 20.445048300260872,
 2.23606797749979,
 2.449489742783178,
 11.916375287812984,
 17.916472867168917,
 15.84297951775486,
 18.05547008526779,
 2.23606797749979,
 4.123105625617661,
 13.638181696985855,
 1.0,
 1.0,
 4.123105625617661,
 4.123105625617661,
 4.0,
 1.4142135623730951,
 16.24807680927192,
 17.0,
 2.8284271247461903,
 5.477225575051661,
 4.47213595499958,
 21.88606862823929,
 1.4142135623730951,
 14.106735979665885,
 2.0,
 14.142135623730951,
 14.560219778561036,
 11.704699910719626,
 2.23606797749979,
 13.416407864998739,
 1.0,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 3.872983346207417,
 2.23606797749979,
 4.242640687119285,
 1.4142135623730951,
 13.892443989449804,
 13.038404810405298,
 15.905973720586866,
 2.449489742783178,
 4.47213595499958,
 20.904544960366874,
 2.0,
 14.7648230602334,
 17.146428199482248,
 23.664319132398465,
 3.7416573867739413,
 3.3166247903554,
 2.449489742783178,
 2.23606797749979,
 1.4142135623730951,
 1.0,
 2.23606797749979,
 4.898979485566356,
 3.1622776601683795,
 4.47213595499958,
 1.7320508075688772,
 4.69041575982343,
 13.152946437965905,
 5.385164807134504,
 3.605551275463989,
 2.23606797749979,
 3.1622776601683795,
 1.0,
 4.47213595499958,
 12.68857754044952,
 2.8284271247461903,
 4.123105625617661,
 18.708286933869708,
 4.123105625617661,
 2.23606797749979,
 2.8284271247461903,
 3.0,
 2.23606797749979,
 2.23606797749979,
 4.47213595499958,
 3.605551275463989,
 2.23606797749979,
 4.69041575982343,
 4.898979485566356,
 22.781571499789035,
 2.23606797749979,
 4.358898943540674,
 4.69041575982343,
 1.4142135623730951,
 1.4142135623730951,
 2.0,
 2.23606797749979,
 1.0,
 9.273618495495704,
 15.524174696260024,
 4.47213595499958,
 4.123105625617661,
 1.0,
 4.58257569495584,
 4.58257569495584,
 3.0,
 4.47213595499958,
 2.8284271247461903,
 2.0,
 12.727922061357855,
 18.24828759089466,
 15.905973720586866,
 2.449489742783178,
 3.0,
 3.1622776601683795,
 4.123105625617661,
 3.7416573867739413,
 4.242640687119285,
 2.0,
 4.47213595499958,
 3.605551275463989,
 22.891046284519195,
 19.0,
 1.0,
 4.47213595499958,
 4.47213595499958,
 4.47213595499958,
 4.47213595499958,
 3.0,
 2.23606797749979,
 8.306623862918075,
 4.898979485566356,
 14.422205101855956,
 2.8284271247461903,
 2.449489742783178,
 3.1622776601683795,
 3.605551275463989,
 17.378147196982766,
 12.96148139681572,
 13.892443989449804]

In [204]:
def all_distances(training, new_point):
    """Returns an array of distances
    between each point in the training set
    and the new point (which is a row of attributes)"""
    attributes = training.drop('Class', axis=1)
    new_point = np.delete(new_point, -1)
    
    all_distance = []
    for index, row in attributes.iterrows():
        d = distance(row.values, new_point)
        all_distance.append(d)
        
    return all_distance

In [166]:
p1.size

9

In [208]:
table_with_distances(patient_data, p1)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Distance
0,5,1,1,1,2,1,3,1,1,0,0.000000
1,5,4,4,5,7,10,3,2,1,0,11.874342
2,3,1,1,1,2,2,3,1,1,0,2.236068
3,6,8,8,1,3,4,3,7,1,0,12.041595
4,4,1,1,3,2,1,3,1,1,0,2.236068
5,8,10,10,8,7,10,9,7,1,1,19.949937
6,1,1,1,1,2,10,3,1,1,0,9.848858
7,2,1,2,1,2,1,3,1,1,0,3.162278
8,2,1,1,1,2,1,1,1,5,0,5.385165
9,4,2,1,1,2,1,2,1,1,0,1.732051
10,1,1,1,1,1,1,3,1,1,0,4.123106
11,2,1,1,1,2,1,2,1,1,0,3.162278
12,5,3,3,3,2,3,4,4,1,1,5.099020
13,1,1,1,1,2,3,3,1,1,0,4.472136
14,8,7,5,10,7,9,5,5,4,1,16.124515
15,7,4,6,4,6,1,4,3,1,1,8.246211
16,4,1,1,1,2,1,2,1,1,0,1.414214
17,4,1,1,1,2,1,3,1,1,0,1.000000
18,10,7,7,6,4,10,4,1,2,1,14.456832
19,6,1,1,1,2,1,3,1,1,0,1.000000
20,7,3,2,10,5,10,5,4,4,1,14.212670
21,10,5,5,3,6,7,7,10,1,1,14.491377
22,3,1,1,1,2,1,2,1,1,0,2.236068
24,1,1,1,1,2,1,3,1,1,0,4.000000
25,5,2,3,4,2,7,3,6,1,1,8.660254
26,3,2,1,1,1,1,2,1,1,0,2.645751
27,5,1,1,1,2,1,2,1,1,0,1.000000
28,2,1,1,1,2,1,2,1,1,0,3.162278
29,1,1,3,1,2,1,1,1,1,0,4.898979
30,3,1,1,1,1,1,2,1,1,0,2.449490
...,...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,1,18.248288
670,3,10,7,8,5,8,7,4,1,1,15.905974
671,3,2,1,2,2,1,3,1,1,0,2.449490
672,2,1,1,1,2,1,3,1,1,0,3.000000
673,5,3,2,1,3,1,1,1,1,0,3.162278
674,1,1,1,1,2,1,2,1,1,0,4.123106
675,4,1,4,1,2,1,1,1,1,0,3.741657
676,1,1,2,1,2,1,2,1,1,0,4.242641
677,5,1,1,1,2,1,1,1,1,0,2.000000
678,1,1,1,1,2,1,1,1,1,0,4.472136
679,2,1,1,1,2,1,1,1,1,0,3.605551
680,10,10,10,10,5,10,10,10,7,1,22.891046
681,5,10,10,10,4,10,5,6,3,1,19.000000
682,5,1,1,1,2,1,3,2,1,0,1.000000
683,1,1,1,1,2,1,1,1,1,0,4.472136
684,1,1,1,1,2,1,1,1,1,0,4.472136
685,1,1,1,1,2,1,1,1,1,0,4.472136
686,1,1,1,1,2,1,1,1,1,0,4.472136
687,3,1,1,1,2,1,2,3,1,0,3.000000
688,4,1,1,1,2,1,1,1,1,0,2.236068
689,1,1,1,1,2,1,1,1,8,0,8.306624
690,1,1,1,3,2,1,1,1,1,0,4.898979
691,5,10,10,5,4,5,4,4,1,1,14.422205
692,3,1,1,1,2,1,1,1,1,0,2.828427
693,3,1,1,1,2,1,2,1,2,0,2.449490
694,3,1,1,1,3,2,1,1,1,0,3.162278
695,2,1,1,1,2,1,1,1,1,0,3.605551
696,5,10,10,3,7,3,8,10,2,1,17.378147
697,4,8,6,4,3,4,10,6,1,1,12.961481
698,4,8,8,5,4,5,10,4,1,1,13.892444

In [207]:
def table_with_distances(training, new_point):
    """Augments the training table 
    with a column of distances from new_point"""
    training['Distance'] = all_distances(training, new_point)
    return training

In [241]:
topkclasses = closest(patient_data, patient_data.take([3]).values, 5)

In [255]:
topkclasses

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Distance
3,6,8,8,1,3,4,3,7,1,0,0.000000
56,8,10,10,1,3,6,3,9,1,1,7.745967
49,7,8,7,2,4,8,3,8,2,1,8.124038
427,8,7,8,2,4,2,5,10,1,1,8.485281
55,10,6,6,3,4,5,3,6,1,1,9.643651

In [227]:
def closest(training, new_point, k):
    """Returns a data frame of the k rows 
    corresponding to the k smallest distances"""
    with_dists = table_with_distances(training, new_point)
    sorted_by_distance = with_dists.sort_values(by=['Distance'])
    #topk = sorted_by_distance.take(np.arange(k))
    topk = sorted_by_distance.take(np.arange(k))
    #return topk
    return topk

In [273]:
topkclasses

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class,Distance
3,6,8,8,1,3,4,3,7,1,0,0.000000
56,8,10,10,1,3,6,3,9,1,1,7.745967
49,7,8,7,2,4,8,3,8,2,1,8.124038
427,8,7,8,2,4,2,5,10,1,1,8.485281
55,10,6,6,3,4,5,3,6,1,1,9.643651

In [302]:
#print(type(topkclasses))

#print(topkclasses['Class'].values)

x = topkclasses['Class'].values
print(x)
a = np.count_nonzero( x == 1 )

print(a)

b = np.count_nonzero( x == 0 )
print(b)

print("Majority:")
majority(topkclasses)

[0 1 1 1 1]
4
1
Majority:

1

In [316]:
def majority(topkclasses):
    """Return majority of neighbour labels 
    """

    # convert 'Class' column to numpy array
    topK = topkclasses.values
    
    # count number of '1' class
    ones = np.count_nonzero( topK == 1 )
    
    # count number of '0' class
    zeros = np.count_nonzero( topK == 0 )
    
    if ones > zeros:
        return 1
    else:
        return 0

In [317]:
def classify(training, new_point, k):
    closestk = closest(training, new_point, k)
    topkclasses = closestk[['Class']]
    return majority(topkclasses)

In [319]:
classify(patient_data, patient_data.take([3]).values, 5)

1